.NavBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: auto;
  padding-left: 10%;
}
.NavBar-container .NavBar-stylebox {
  width: 8%;
}
.NavBar-container .NavBar-title {
  display: inline-flex;
}
.NavBar-container .NavBar-btns {
  display: flex;
}
